@import url(https://fonts.google.com/specimen/Outfit);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

.attribution { 
    color: var(--Grayishblue);
    font-size: 16px; 
    text-align: center; 
    margin-top: 8px;
  
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    text-shadow: 3px 3px 4px hsla(217, 45%, 22%, 0.493);
}


section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Lightgray);
}
.card{
    border-radius: 10px;
    width: 320px;
    height: 500px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 8px hsla(217, 45%, 22%, 0.342);
}
.imgQr{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
figcaption{
    padding: 10px;
    color: var(--Grayishblue);
}
.Tcaption{
    font-weight: 700;
    color: var(--Darkblue);
    font-size: 21px;
    margin-bottom: 10px;
}
p{
    font-weight: 500;
    font-size: 17px;
}
